body {
    background-image: url('../images/backgroundHeracles3.webp');
}

main {
    min-height: 50vh;
    position: relative;
}

/* Fight */
.fighters figure {
    --fighter-size: 150px;
    width: var(--fighter-size);
    height: var(--fighter-size);
    border: 4px solid var(--ternary-color);
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    left: var(--spacing);
}

.fighters .fight {
    font-size: 64px;
}

.fighters figcaption {
    position: absolute;
    bottom: 20%;
    left: 0;
    width: 100%;
    margin: auto;
    font-size: var(--subtitle-font-size);
    text-align: center;
}

.fighters img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: scale 0.3s;
}

.fighters img:hover {
    scale: 1.1;
}

.life {
    display: flex;
}

.life div, .life progress {
    margin: var(--spacing);
}

/* Map */
.map {
    --size: 70px;
    --ground: rgb(119, 67, 8);
    --map-inclination: 70deg;
    --map-rotation: 45deg;
    display: grid;
    grid-template-columns: repeat(var(--tiles-number), var(--size));
    grid-template-rows: repeat(var(--tiles-number), var(--size));
    margin: var(--spacing-2);
    transform: rotateX(var(--map-inclination)) rotateZ(var(--map-rotation));
    transform-style: preserve-3d;
    box-shadow: 4px 4px 0px 0px var(--ground), 8px 8px 0px 0px var(--ground), 12px 12px 0px 0px var(--ground),16px 16px 0px 0px var(--ground);
}

.map div {
    background-image: url('../images/grass.png');
    --grass: rgb(52, 112, 17);
    transform-style: preserve-3d;
    border: 1px solid var(--grass);
    transition: transform 0.3s ease-in-out;
}

.map div:hover {
    transform: translateZ(2px);
}

.map div img {
    --fighter-rotate: -90deg;
    transform-origin: bottom;
    transform: translateZ(var(--anim-z, 0)) translateY(calc(var(--size) / -2)) rotateX(var(--fighter-rotate)) ;
    width: 100%;
}

.map .touchable {
    filter: brightness(110%);
}

.map .untouchable {
    filter: grayscale(100) brightness(75%);
    opacity: 0.8;
}

.monster {
    animation: fly 2s infinite;
}

@keyframes fly {
    0% {
        --anim-z: 3px;
    }
    25% {
        --anim-z: 7px;
    }
    50% {
        --anim-z: 5px;
    }
    75% {
        --anim-z: 7px;
    }
    100% {
        --anim-z: 3px;
    }
}

/* Inventory */
.inventory {
    grid-template-columns: repeat(2, var(--slot-size));
    grid-template-rows: repeat(5, var(--slot-size));
}

.inventory .slot {
    grid-column: span 1;
    grid-row: span 1;
}
